<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>SecurityApp</title>
		<style type="text/css">
			.tblstyle {
				padding-top: 50px; padding-bottom: 50px; text-align: center; vertical-align: middle;
			}
		</style>
	</head>
	<body>
		<h2>
			<span th:text="${label}"></span>
		</h2>
		<div sec:authorize="isAuthenticated()" th:if="${userName != null}">
			<h3>
				<b th:text="${userName}"></b>&nbsp;&nbsp;(<a href="/logout">Logout</a>)
			</h3>
			<p>
				JWT :: <textarea th:text="${jwtToken}" rows="3" style="width: 100%"></textarea>
			</p>
			<table width="100%">
				<tr sec:authorize="hasRole('ROLE_ADMIN')">
					<td width="100%" class="tblstyle" style="background: lightcoral;">
						<div>Admin Content</div>
					</td>
				</tr>
				<tr sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_MANAGER')" >
					<td width="100%" class="tblstyle" style="background: lightgrey;">
						<div>Manager Content</div>
					</td>
				</tr>
				<tr sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_MANAGER', 'ROLE_STAFF')">
					<td width="100%" class="tblstyle" style="background: lightgreen;">
						<div>Staff Content</div>
					</td>
				</tr>
			</table>
		</div>
	</body>
</html>